/* {
    box-sizing: border-box;
}*/

.main {
    background-image: url(../img/vasco2.png);
    color: rgb(255, 255, 255);
    min-width: 300px;
    min-height: 1000px;
}
.cabecalho {
    text-align: auto;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    margin-left: 25px;
    margin-top: 15px;
    text-shadow: 2px 1px rgba(255, 255, 255, 0.486);
}

.links {
    width: 100%;
    display: flex;
    align-items: auto;
    justify-content: auto;
    background-color: inherit;
    height: 65px;
    padding-top: 6px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.icone1 {
    margin: 0 70px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 200px;
    text-shadow: 2px 1px rgba(255, 255, 255, 0.486);
}
.paginas {
    margin: 0 70px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    margin-top: 15px;
    text-shadow: 2px 1px rgba(255, 255, 255, 0.486);
}
.carrossel-link{
    text-decoration: none;
    color: white;
}
.carrossel-link:hover{
    color: rgba(0, 0, 0, 0.566)
}
.apresentacao {
    font-family: 'Bebas Neue', cursive;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-left: 40%;
    text-align: center;
    margin-top: 55px;
    float: right;
}
.rodape1{
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    margin-top: 5%;
    text-align: center;
}
.rodape {
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    margin-top: 5%;
}
.rodape:hover{
    color: rgba(255, 255, 255, 0.486);
}

.topicos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    margin: 25px;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 2px 1px rgba(255, 255, 255, 0.486);
}

.topicos2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    text-align: right;
    margin-right: 25px;
    margin-top: 25px;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 2px 1px rgba(255, 255, 255, 0.486);
}

.espaco {
    color: rgb(255, 255, 255);
    font-size: 35px;
}
.fotos1 {
    width: 0 155px;
    height: 30vh;
    float: right;
    border-radius: 30px;
    margin-right: 15px;
}

.fotos-gabriel {
    width: 0 155px;
    height: 30vh;
    float: right;
    display: inline;
    border-radius: 30px;
}

.fotos-diego {
    width: 0 155px;
    height: 30vh;
    float: right;
    display: inline;
    border-radius: 30px;
}
.link-patrocinio{
    text-decoration: none;
    display: flex;
}
.patrocinios{
    display: inline;
    margin: 0 120px;
    max-width: 65%;
    aspect-ratio: 2/1;
    object-fit: contain;
    mix-blend-mode: color-burn;
}
.patrocinios1{
    display: inline;
    margin: 0 90px;
    max-width: 60%;
    aspect-ratio: 2/1;
    object-fit: contain;
}
.texto {
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    width: 40%;
    margin-left: 25px;
}

.texto2 {
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    width: 86%;
    margin-left: 25px;
}

.desenvolvedores {
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    width: 86%;
    margin-left: 25px;
}

.head {
    background-color: rgba(255, 255, 255, 0.366);
    padding: 5px;
    
}
.patrocinio{
    width: 100%;
    display: flex;
    align-items: auto;
    justify-content: auto;
    background-color: rgba(255, 255, 255, 0.366);
    padding: 5px;
    
}
.titulo1 {
    text-align: right;
    margin-top: 25px;
    margin-right: 25px;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
}

.titulo2 {
    text-align: left;
    margin-top: 25px;
    margin-left: 25px;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
}

.slides-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.image{
    display: none;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 77px;
    border-radius: 3px 0 0 3px;
}
.prev{
    left: 77px;
}
.prev:hover, .next:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.botao {
    text-align: center;
}
.botoes{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
}
.active, .botoes:hover{
    background-color:rgba(255, 255, 255, 0.366);
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
.slides-text{
    color: white;
    font-size: 35px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
}
.foto-titulo1{
    width: 0 155px;
    height: 30vh;
    float: left;
    display: inline;
    border-radius: 30px;
    margin-left: 25px;
    margin-top: 15;
}
.foto-titulo2{
    width: 0 155px;
    height: 30vh;
    float: right;
    display: inline;
    border-radius: 30px;
    margin-right: 25px;
    margin-top: 25px;
}
.foto-titulo3{
    width: 0 155px;
    height: 40vh;
    float: left;
    display: inline;
    border-radius: 30px;
    margin-left: 25px;
    margin-top: 25px;
}
.anos{
    text-align: right;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 55%;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
}
.img-footer{
    margin: 0 auto;
    margin-bottom: -60px;
    margin-top: 25px;
    display: flex;
    width: 5%;

}
@keyframes fade{
    from{opacity: 0.4}
    to{opacity: 1}
}

@media screen and (max-width: 768px) {

    .icone1,
    .paginas {
        margin: 0px 0px 0px 0px;
        margin-top: 20px;
        margin-left: 25px;
        font-size: 25px;
    }
}

@media screen and (max-width: 768px) {
    .head {
        border-radius: 0px;
        width: 100%;
        height: 100%;
    }

    .fotos1 {
        float: none;
        margin-left: 25vw;
    }

    .links,
    .cabecalho {
        margin-top: 20px;
        margin-bottom: 6px;
        font-size: 22px;
    }

    .apresentacao {
        float: none;
        margin-left: 0px;
        font-size: 25px;
    }

    .texto {
        font-size: 35px;
        width: 90%;
        text-align: center;
    }

    .rodape {
        font-size: 17px;
    }

    .desenvolvedores {
        text-align: center;
        margin-left: 47px;
    }

    .fotos-gabriel {
        float: none;
        margin-left: 34vw;
    }

    .fotos-diego {
        float: none;
        margin-left: 30vw;
    }
    .foto-titulo1{
        float: none;
    }
    .next{
        right: 0;
    }
    .prev{
        left: 0;
    }
}