.main {
    background-image: url(../img/vasco2.png);
    color: rgb(255, 255, 255);
    min-width: 300px;
    min-height: 1000px;
}

.cabecalho {
    text-align: auto;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    margin-left: 25px;
    margin-top: 15px;
    text-shadow: 2px 1px rgba(255, 255, 255, 0.486);
}

.links {
    width: 100%;
    display: flex;
    align-items: auto;
    justify-content: auto;
    background-color: rgb(0, 0, 0);
    height: 65px;
    padding-top: 6px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.icone1 {
    margin: 0 70px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 400px;
    text-shadow: 2px 1px rgba(255, 255, 255, 0.486);
}

.icone1 :hover {
    color: rgba(255, 255, 255, 0.366);
}

.paginas {
    margin: 0 70px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    margin-top: 15px;
    text-shadow: 2px 1px rgba(255, 255, 255, 0.486);
}

.apresentacao {
    font-family: 'Bebas Neue', cursive;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-left: 40%;
    text-align: center;
    margin-top: 55px;
    float: right;
}

.footer {
    color: inherit;
    text-decoration: none;
}

.rodape {
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    margin-top: 5%;
}

.topicos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    margin: 25px;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 2px 1px rgba(255, 255, 255, 0.486);
}
.topicos2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    text-align: right;
    margin-right: 25px;
    margin-top: 25px;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 2px 1px rgba(255, 255, 255, 0.486);
}
.espaco {
    color: rgb(255, 255, 255);
    font-size: 35px;
    background-color: black;
}

.fotos1 {
    height: 350px;
    margin-left: 510px;
    float: center;
    border: solid 2px rgb(0, 0, 0);
}

.fotos2 {
    width: 0 155px;
    height: 30vh;
    float: right;
    border-radius: 30px;
}

.fotos-gabriel {
    width: 0 155px;
    height: 30vh;
    float: right;
    display: inline;
    border-radius: 30px;
}
.fotos-diego {
    width: 0 155px;
    height: 30vh;
    float: right;
    display: inline;
    border-radius: 30px;
}

.texto {
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    width: 40%;
    margin-left: 25px;
}

.texto2 {
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    width: 86%;
    margin-left: 25px;
}

.desenvolvedores {
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    width: 86%;
    margin-left: 25px;
}

.head {
    background-color: rgba(255, 255, 255, 0.366);
    padding: 5px;
    border-radius: 15px;
}
.titulo1{
    text-align: right;
    margin-top: 25px;
    margin-right: 25px;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
}
.titulo2{
    text-align: left;
    margin-top: 25px;
    margin-left: 25px;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
}

@media screen and (max-width: 768px) {

    .icone1,
    .paginas {
        margin: 0px 0px 0px 0px;
        margin-top: 20px;
        margin-left: 25px;

    }
}

@media screen and (max-width: 768px) {
    .head {
        border-radius: 0px;
        width: 100%;
        height: 100%;
    }

    .fotos2 {
        float: none;
        margin-left: 25vw;
    }

    .links,
    .cabecalho {
        margin-top: 20px;
        margin-bottom: 6px;
    }

    .apresentacao {
        float: none;
        margin-left: 0px;
        font-size: 25px;
    }

    .texto {
        font-size: 35px;
        width: 90%;
        text-align: center;
    }

    .rodape {
        font-size: 17px;
    }
    .desenvolvedores {
        text-align: center;
        margin-left: 47px;
    }
    .fotos-gabriel{
        float: none;
        margin-left: 34vw;
    }
    .fotos-diego{
        float: none;
        margin-left: 30vw;
    }
}