body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.cabecalho{
    height: 100px;
    text-align: auto;
    color: rgb(255, 255, 255);
    padding-bottom: 15px;
    font-size: 34px;
    font-family: 'Bebas Neue', cursive;
    margin-left: 25px;
    margin-top: 15px;
}
.cabecalho1{
    height: 100px;
    text-align: auto;
    color: rgb(255, 255, 255);
    padding-bottom: 15px;
    font-size: 35px;
    font-family: 'Bebas Neue', cursive;
    margin-left: 25px;
    margin-top: 15px;
}
.links{
    width: 100%;
    display: flex;
    align-items: auto;
    justify-content: auto;
    background-color: rgba(255, 255, 255, 0.366);
    height: 65px;
    padding-top: 6px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.icone1{
    margin: 0 70px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 570px;
}
.paginas{
    margin: 0 70px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    margin-top: 15px;
}
.apresentacao{
    font-family: 'Bebas Neue', cursive;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 25px;
    text-align: justify;
}
.footer{
    color: inherit;
    text-decoration: none;
}
.rodape{
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    margin-top: 100%;
}
.topicos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    margin: 25px;
    font-family: 'Bebas Neue', cursive;
}
.espaco{
    color: rgb(255, 255, 255);
    font-size: 35px;
}
.fotos1{
    height: 350px;
    margin-left: 510px;
    float: center;
    border: solid 2px rgb(0, 0, 0);
}
.fotos2{
    width: 0 155px;
    height: 250px;
    float: right;
}
.texto{
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    width: 30%;
    margin-left: 25px;
}
.desenvolvedores{
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
}