h1{
    height: 100px;
    text-align: center;
    background-color: rgb(95, 197, 51);
    color: rgb(0, 0, 0);
    padding: 35px;
    padding-bottom: 15px;
    font-size: 70px;
    font-family: 'Oswald', sans-serif;
}

.links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.356);
    height: 40px;
    padding-top: 6px;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
}

a{
    margin: 0 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}